*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    block-size: 100%;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    inline-size: 1200px;
    block-size: 100%;
    margin: auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #D9D9D9;
}

.content {
    display: grid;
    grid-template-columns: 711px 399px;
    grid-auto-flow: column;
    grid-template-areas: "result-area cd-area";
    align-items: end;
    gap: 30px;
    width: 1140px;
}

.result {
    grid-area: result-area;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 78px;
}

.result__video-container {
    width: 100%;
    height: 386px;
    position: relative;
    cursor: pointer;
}

.result__video {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.search-form__textfield {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0;
    border-left: none;
    border-right: none;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    background-color: transparent;
    appearance: none;
    min-width: 225px;
    cursor: pointer;
    color: white;
}

.search-form__fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
}

.search-form__fieldset-title {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0;
}

.content__details {
    grid-area: cd-area;
    display: flex;
    flex-direction: column;
    gap: 26px;
    width: 100%;
    height: 100%;
}

.content__list-container {
    display: flex;
    flex-direction: column;
    height: 298px;
    width: 100%;
    overflow: auto;
    position: relative;
    gap: 30px;
}

.content__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content__list-item {
    padding-left: 3px;
    padding-right: 3px;
}

.content__video-card {
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
}

.content__video-card-thumbnail {
    width: 194px;
    height: 103px;
    object-fit: cover;
    object-position: center;
}

.content__video-card-description-container {
    max-width: 196px;
    flex-basis: 0;
    flex-grow: 1;
}

.content__video-card-description {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: 0;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 3px;
}

.title {
    font-family: 'Oswald', sans-serif;
    font-size: 75px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 0.94;
    text-transform: uppercase;
    text-align: left;
}

.content__accent {
    color: #545050;
}

.content__card-link {
    display: block;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.content__video-card-title {
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
}

.search-form__label-text {
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0;
}

.button:hover,
.search-form__label:hover .search-form__label-text {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    cursor: pointer;
}

.search-form__submit-button {
    align-self: end;
    min-width: 194px;
}

.more-button {
    width: 100%;
}

.search-form__label {
    display: flex;
    flex-direction: row;
    width: fit-content;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.search-form__checkbox-list {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.button:active {
    outline: none;
    background-color: #545050;
}

.content__card-link:active,
.content__card-link_current {
    background-color: #545050;
}

.content__card-link:hover * {
    text-decoration: underline;
}

.content__card-link:focus,
.button:focus,
.search-form__checkbox:focus,
.search-form__textfield:focus {
    outline: none;
}

.content__card-link:focus-visible,
.button:focus-visible,
.search-form__checkbox:has(:focus-visible),
.search-form__label:has(:focus-visible) {
    outline: 1px solid white;
    outline-offset: 2px;
}

.search-form__pseudo-checkbox {
    position: relative;
    border: 1px solid white;
    width: 19px;
    height: 19px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
    content: '';
    position: absolute;
    left: 1px;
    top: 1px;
    width: 15px;
    height: 15px;
    background-color: white;
    display: inline-flex;
}